<!--<div class="container-fluid">-->
<!--<app-car-list></app-car-list>-->
<!--</div>-->

<!--<div class="container my-4">-->
<!--  <app-category-list></app-category-list>-->
<!--</div>-->

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-3 mt-2">
      <app-category-list> </app-category-list>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!--<div class="container-fluid my-3">-->
<!--  <div class="row">-->
<!--    <div class="col-lg-9">-->
<!--      <app-car-list></app-car-list>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

